<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns: sec="//www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <style>
     label {
            display: inline-block;
            width: 150px;
            text-align: left;
        }

    </style>
</head>
<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container-fluid text-center">
    <div><h1>Add New User</h1></div>

    <form th:action="@{/admin/users-administration/save}" method="post" th:object="${user}">
        <fieldset>
            <div>
                <div>
                    <label>First Name</label>
                    <input type="text" th:field="*{firstName}"/>
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" th:field="*{lastName}"/>
                </div>
                <div>
                    <label>Username</label>
                    <input type="text" th:field="*{username}">
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" th:field="*{email}">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" th:field="*{password}"/>
                </div>
                <div>
                    <label>Address</label>
                    <input type="text" th:field="*{address}"/>
                </div>
                <div>
                    <label>Phone Number</label>
                    <input type="text" th:field="*{phoneNumber}"/>
                </div>
                <div>
                    <label>Role</label>
                    <input type="text" th:field="*{role}"/>
                </div>
                <div>
                    <label width="300px">Enabled</label>
                    <input type="checkbox" th:field="*{enabled}">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button onclick="cancelForm()"
                            type="button"
                            class="btn btn-primary">Cancel
                    </button>
                </div>
            </div>
        </fieldset>
    </form>

</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "/admin/users-administration";
    }

</script>
</body>
</html>