<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns: sec="//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="UTF-8">
    <title>Your Shopping Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <style>
        .space {
            margin-bottom: 25px;
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
        }
    </style>

</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid text-center">

    <div class="space">
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="cartItem : ${cartItems}">
                <tr>
                    <td>[[${cartItem.getProduct().title}]]</td>
                    <td>[[${cartItem.getProduct().price}]]</td>
                    <td>[[${cartItem.quantity}]]</td>
                    <td style="align-content: center">
                        <a th:href="@{'/cart/deleteItem/{id}'(id=${cartItem.id})}" class="col-md-1" style="align-self: center">
                            <button type="button" class="btn btn-primary" th:text="Remove" style="align-self: center">Remove</button>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="row panel-body" style="text-align: right; margin-right: 50px">

        <div>
            <h4 class="col-md-11" th:inline="text">Total: [[${totalToPay}]]</h4>
        </div>

        <div class="space">
            <a th:href="@{'/checkout'}">
                <button type="button" class="btn btn-danger" th:text="Checkout">Checkout</button>
            </a>
        </div>

    </div>

    <div class="space">
        <a th:href="@{'/cart/deleteCartItemsByUserId/{id}'(id=${loggedUserId})}">
            <button type="button" class="btn btn-primary">Empty Your Cart</button>
        </a>
    </div>

    <div class="space" style="text-align: center">
        <button type="submit" class="btn btn-primary" onclick="goBack()">Back To Shop</button>
    </div>

</div>

<script type="text/javascript">
    function goBack() {
        window.location = "/products";
    }
</script>

</body>
</html>