<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns: sec="//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

    <meta charset="UTF-8">
    <title>Your Shopping Orders</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <style>
        .space {
            margin-bottom: 25px;
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
        }
    </style>

</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid text-center">

    <h1>Thank you!</h1>
    <h1>Your order was placed successfully!</h1>
    <div>
        <a th:href="@{/}">
            <button type="submit" class="btn btn-primary">Home Page</button>
        </a>
    </div>

</div>
</body>
</html>