<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns: sec="//www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <style>
        th {
            text-align: center;
        }
        table {
            border: none;
        }
    </style>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container-fluid text-center">
    <div>
        <h3>Your Cart</h3>
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Producer</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product : ${products}">
                <tr>
                    <td>[[${product.title}]]</td>
                    <td>[[${product.price}]]</td>
                    <td>[[${product.producer}]]</td>
                    <td>
                        <div class="container-fluid text-center">
                            <a th:href="@{/products/} + ${product.id}">
                                <button type="submit" class="btn btn-primary">More</button>
                            </a>
                            <button type="submit" class="btn btn-primary" onclick="addToCart()">Add To Cart</button>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div style="text-align: right">
        <h3>Total: </h3>
    </div>

</div>

</body>
</html>